html {
    font-size: 1em;
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    overflow: hidden
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.lds2-grid {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  text-align: center;
}
.lds2-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
  animation: lds-grid 1.2s linear infinite;
}
.lds2-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds2-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds2-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds2-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds2-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds2-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds2-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds2-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds2-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds2-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  text-align: center;
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #192a56;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.close_box {
    /* margin-left: 95%; */
    outline: none;
    border-radius: 5px;
    border-width: 0px;
    color: white;
    background-color: #b2bec3;
    padding: 10px;
    /* padding-right: 20px;
    padding-left: 20px; */
    margin-bottom: 3%;
    float: right;
    width: 100%;
    cursor: pointer;
}

.open-slide {
    height: auto;
    margin-top: 5px;
}

.side-nav {
    position: fixed;
}

.innerside {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    text-align: left;
    height: 90vh;
    overflow: auto;
    scroll-behavior: smooth
}

.btn-close {
    font-size: 2em
}

.innerside a,
.side-nav a {
    color: black;
    text-decoration: none;
    margin: 1%
}

.innerside a:hover {
    background-color: rgba(47, 54, 64, .3)
}

.innerside a {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    color: black;
    transition: all 0.3s
}

.filt_button {
    background-color: rgba(0,0,0,0);
    border: none;
    border-color: black;
    border-width: 0;
    border-style: solid;
    color: #ffa801;
    font-size: 1em;
    border-radius: 5px;
    margin: 7px;
    height: auto;
    width: 75%;
    cursor: pointer;
    margin: 2%;
    padding: .5%;
    box-shadow: 0 0 20px 0.8px rgba(0,0,0,.1);
    outline: none;
    transition: all 0.3s
}

.filt_button:hover {
    background-color: #ffa801;
    color: white
}

.filt_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    overflow-x: hidden
}

.side-nav {
    text-align: right
}

/* input {
    background-color: none;
    margin: 0;
    padding: 0
} */

.displaycont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    padding-bottom: 2%;
    padding-top: 2.5%
}

.ds1 {
    /* position: absolute; */
    padding-bottom: 0%;
    padding-top: 0%
}

.imgtitle.bg {
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0);
    background-color: none
}

.bg {
    background-color: rgba(53, 59, 72, .6);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin: 1%
}

.bg.intro {
    background-image: url(imgtitle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 65%;
    margin: 1%;
}

.sourceprice.feat {
    text-align: center
}

.gamesource.feat {
    text-align: center;
    padding-left: 0
}

.storebar.match {
    justify-content: left
}

iframe {
    margin-bottom: 3%;
    height: 309px;
}

.gametitle.feat {
    text-align: center;
}

.storeitem.feat {
    order: 1;
    background-color: rgba(236, 240, 241, 0);
    width: 167px;
    max-height: 340px;
    margin-top: 0;
    box-shadow: 0 0 0 0;
    cursor: default;
}

.storeitem.feat:hover {
    box-shadow: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0)
}

.feat_wrapper {
    padding-top: .5%;
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}


nav.nav2 {
    position:static;
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    text-align:left;
    padding:.5%;
    color: black;
    background-image:linear-gradient(120deg,#fdfbfb 0%,#ebedee 100%);
    box-shadow:0 0 25px 1px rgba(0,0,0,.1);
    transition:all 1s
}

.site_name.info {
    color: black;
}
.searchbar2.info {
    margin: 0px;
    width: 75%;
}
.similartitle {
    margin: 0px;
    text-align: center;
}

.simgames {
    margin: 0px;
}

.feat_offer {
    order: 3;
    min-width: fit-content;
    background-color: rgba(255, 255, 255, .15);
    color: black;
    padding: 2%;
    padding-top: 0;
    border-radius: 5px;
    height: fit-content;
    max-height: 340px;
    overflow-y: auto
}

.cover_offer {
    display: flex;
    flex-direction: row;
    width: 100%
}

.vid_text {
    display: flex;
    flex-direction: column;
    position: static;
    padding-bottom: 25%;
    width: 100%;
}

.feat_text {
    order: 1;
    order: 2;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    padding: 2%;
    padding-top: 0.5%;
    border-radius: 5px;
    margin: 1%;
    margin: 0 auto;
    margin-top: 1.5%;
    height: fit-content;
    width: 548.33px;
}

.revtitle {
    font-size: 1em
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}

.info_small_head {
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #353b48;
}

.offer_buy {
    order: 2;
    white-space: nowrap;
    border-width: 0;
    background-color: rgba(32, 191, 107, 1);
    padding: 10px;
    padding-right: 8px;
    padding-left: 8px;
    color: white;
    border-radius: 5px;
    margin-bottom: 5%;
    cursor: pointer;
    min-width: 340px;
    max-width: 350px;
    font-size: 1em;
    transition: all 0.3s
}

.offer_buy:hover {
    background-color: rgba(38, 222, 129, 1)
}

.gprice.rating {
    color: #27ae60
}

.offer_title {
    display: inline;
    font-size: 1em
}

.feat_plat {
    font-size: .7em;
    padding: 4px;
    margin: 7px;
    display: inline;
    border-radius: 3px
}

.offer_info {
    margin-bottom: 10px;
    max-width: 340px
}

.feat_plat.PS4.Games {
    color: white;
    background-color: #0097e6
}

.filt_button.PS4 {
    color: #0097e6
}

.filt_button.PS4:hover {
    background-color: #0097e6;
    color: white
}

.filt_button.PC {
    color: #2f3640
}

.filt_button.PC:hover {
    background-color: #2f3640;
    color: white
}

.feat_plat.PC {
    color: white;
    background-color: #2f3640
}

.filt_button.XBOX {
    color: #44bd32
}

.filt_button.XBOX:hover {
    background-color: #44bd32;
    color: white
}

.feat_plat.Xbox.Games {
    color: white;
    background-color: #44bd32
}

.feat_plat.Nintendo.Games {
    color: white;
    background-color: #e84118
}

.filt_button.NINTENDO {
    color: #e84118
}

.filt_button.NINTENDO:hover {
    background-color: #e84118;
    color: white
}

.feat_sum {
    margin-bottom: 10px
}

.aff_message {
    text-align: center;
    color: #f5f6fa;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black
}

.partners {
    height: fit-content;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background-size: cover
}

.partner_img {
    width: auto;
    height: auto;
    opacity: .7
}

.partners_showcase {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
    padding-right: 20%;
    padding-left: 20%
}

a {
    text-decoration: none;
    height: auto
}

.itemlink {
    text-decoration: none;
    height: 330.13px
}

.filterbar {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 6%;
    padding-bottom: 30px
}

.displaycont {
    /* top: 60%; */
    width: 100%
}

.genrecat {
    color: black;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: rgba(127, 143, 166, 0);
    margin: 0%;
    padding: 10px;
    border-top-left-radius: 3px;
    animation-name: opana;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    font-size: 1.3em;
    animation-duration: 0.5s
}

.genrelist {
    width: 80%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    animation-name: opana;
    animation-duration: 2s;
    transition: all 1s
}

.genrename {
    font-size: 1em;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: color 0.3s;
    background-color: white;
    margin: 1%;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, .3);
    background-color: rgba(53, 59, 72, .6);
    transition: background-color 0.3s
}

.genrename:hover {
    background-color: rgba(87, 95, 207, .6);
    color: white
}

.gamesource {
    font-size: .8em;
    margin-bottom: 3px;
    margin: 0%;
    padding-left: 10px;
    color: #8395a7;
    text-align: left;
    padding-bottom: 3px;
    width: 100%;
    font-family: 'Roboto', sans-serif
}

.gameimage {
    padding: 0%;
    margin: 0%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%;
    height: 61%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    margin-bottom: 5px;
    transition: all 1s
}

img {
    transition: opacity 2s
}

.gametitle,
.gameprice {
    text-align: left;
    padding: 0%;
    margin: 0%;
    color: black;
    font-family: 'Roboto', sans-serif
}

.gameprice {
    width: auto;
    background-color: white;
    display: flex;
    border-radius: 7px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    overflow-x: hidden;
    max-width: 100%;
    text-weight: 700
}

.gprice {
    margin: 0%;
    padding: 0%;
    padding: 10px;
    font-weight: 600;
    color: #f39c12;
}

.gplat {
    margin: 0%;
    padding: 0%;
    margin: 8px;
    border-radius: 5px;
    font-size: .8em;
    padding-top: 10px;
    padding: 4px;
    color: #f5f6fa
}

.gametitle {
    padding: 10px;
    max-width: 97%;
    font-size: .85em;
    max-height: 45px;
    color: black;
    font-family: 'Roboto', sans-serif;
    color: #353b48;
    text-overflow: ellipsis;
    overflow-y: hidden
}

.site_name {
    color: white;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: fit-content;
    padding-left: 10%;
    height: auto;
}

.intromessage {
    display: none
}

.imgtitle {
    height: auto
}

.messagecont {
    text-align: center;
    padding-top: 25%
}

.message {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 30px rgba(0, 0, 0, .4);
    animation-name: opana;
    animation-duration: 2s
}

.match {
    margin-top: 20px
}

.matchhead {
    color: #0be881;
    margin-top: 0%;
    padding-top: 7.3%;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 11px rgba(76, 209, 55, .4)
}

nav {
    position: static;
    width: 20%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: .5%;
    padding-left: 1%;
    transition: all 1s
}

.nextbutton {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border-width: 0;
    font-size: 20px;
    width: 45px;
    height: 340px;
    color: #2f3640;
    display: inline-block;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 0%;
    margin-right: 10px;
    margin-left: 10px;
    opacity: .4;
    box-shadow: 0 0 15px 1px rgba(255, 255, 255, .2);
    transition: all 0.5s
}

.nextbutton:hover {
    opacity: .8;
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, .6)
}

.sitemessage {
    color: white;
    font-size: 32px;
    margin: 0%;
    padding: 0%;
    padding-left: 2%;
    font-family: 'Roboto', sans-serif;
    animation-name: opana;
    animation-duration: 0.5s
}

.mobilesitemessage {
    /* color: white; */
    font-size: 1.8em;
    /* background-color: black;
    letter-spacing: 5px; */
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    width: 30vw;
    padding: 0px;
    margin: 0px;
    position: relative;
    display: block;
    top: 1%;
    margin: 0 auto;
    border-radius: 4px;
}

input {
    display: block;
    margin: 0px;
    padding: 0px;
}

.mobilesitemessage2 {
    color: white;
    font-size: 1.8em;
    font-weight: 800;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    width: fit-content;
    display: block;
    margin: 0 auto;
    margin-top: 4%;
    border-radius: 4px;

}

.search_cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    /* margin: 0px auto; */
    padding: 14px;
    padding-right: 15px;
    padding-left: 15px;
    transition: all 0.4s;
    cursor: pointer;
}

.search_cont:hover {
    background-color: #dcdde1;
}

.search_matches {
    width: 50%;
    margin: 0 auto;
    max-height: 50%;
    padding-right: 30px;
    overflow-y: auto;
}


.match_title {
    width: fit-content;
    margin: 0px;
    white-space: nowrap;
    max-width: 60%;
    overflow-x: hidden;
}

.match_plat {
    width: fit-content;
    margin: 0px;
    display: inline;
}

.match_price {
    width: fit-content;
    margin: 0px;
    color: #27ae60;
}

.showgenres {
    width: 40%;
    height: auto;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, .9);
    border-width: 0;
    font-size: 16px;
    margin: 0;
    padding: 0;
    outline: none;
    transition: all 1s
}

.showgenres:hover {
    opacity: .7
}

/* .searchbar {
    height: auto;
    outline: 0;
    width: 70%;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0;
    color: rgba(53, 59, 72, 1);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    transition: all 1s
} */

.searchbar2 {
    width: 50%;
    padding: 15px;
    border-radius: 3px;
    border-width: 0px;
    outline: none;
    font-size: 1.1em;
    margin: 0px auto;
    display: block;
    margin-top: 3%;
}

::placeholder {
    color: rgba(53, 59, 72, 1)
}

.storeitem_name {
    margin: 0%;
    color: #575fcf;
    font-size: 27px;
    border-radius: 5px;
    padding: 0%;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 50px
}

.scrollbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100.45%;
    background-color: #353b48
}

.sitename {
    margin: 0%;
    margin-top: 1%;
    float: left;
    font-size: 34px;
    margin-bottom: 3%;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, .4)
}

.storewrapper {
    height: 100vh;
    width: auto;
    background: none;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth
}

.storebackground {
    height: auto;
    width: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0%;
    padding-top: 0%;
    transition: all 1s;
    background: none
}

.storebar {
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0%;
    width: 95vw;
    margin: 0%;
    height: 340px;
    transition: all 1s
}

.storeitem {
    padding: 0%;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(236, 240, 241, .5);
    margin: 4px;
    border-width: 0;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .3);
    cursor: pointer;
    animation-name: opana;
    animation-duration: 0.5s;
    transition: all 0.2s
}

.storeitem:hover {
    background-color: rgba(236, 240, 241, .8);
    box-shadow: 0 0 10px 1px rgba(156, 136, 255, .8)
}

.imgtitleprice {
    padding: 0%;
    margin: 0%;
    height: auto;
    border-radius: 7px;
    width: 161.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white
}

.imgtitleprice.feat {
    background-color: #f5f6fa
}

p.gplat.PS4 {
    color: white;
    background-color: #0097e6
}

p.gplat.PC {
    color: white;
    background-color: #2f3640
}

p.gplat.XBOX {
    color: white;
    background-color: #44bd32
}

p.gplat.NINTENDO {
    color: white;
    background-color: #e84118;
    margin-left: 0
}

.sourceprice {
    display: flex;
    flex-direction: column
}

.tagbar {
    padding: 0%;
    width: 80%;
    height: 5%;
    position: absolute;
    border-radius: 5px;
    outline: none;
    border-width: 0;
    margin-bottom: 1.5%;
    padding-right: 4%;
    padding-left: 4%;
    color: black;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%
}

.titleprice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 134.5px;
    width: 100%;
    font-size: 1em;
    text-align: left
}

::-webkit-scrollbar {
    height: 0
}

::-webkit-scrollbar:hover {
    height: 10px
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

.Highly_Rated_Games {
    background-image: url(highly_rated_games.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 1%;
    background-attachment: fixed
}

.Recently_Released_Games {
    background-image: url(recently_released_games.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 1%;
    background-attachment: fixed
}

.Released_Last_Year {
    background-image: url(released_last_year.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 1%;
    background-attachment: fixed
}

.PS4_Games {
    background-image: url(ps4_games.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 1%;
    background-attachment: fixed
}

.Xbox_Games {
    background-image: url(xbox_games.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 1%;
    background-attachment: fixed
}

.Role-playing_Games {
    background-image: url(role_playing_games.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 1%;
    background-attachment: fixed
}

.Open_World_Games {
    background-image: url(open_world_games.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 1%;
    background-attachment: fixed
}

.Science_Fiction_Games {
    background-image: url(science_fiction_games.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 1%;
    background-attachment: fixed
}

.Racing_Games {
    background-image: url(racing_games.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 1%;
    background-attachment: fixed
}

.Strategy_Games {
    background-image: url(strategy_games.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 1%;
    background-attachment: fixed
}

.Horror_Games {
    background-image: url(horror_games.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 1%;
    background-attachment: fixed
}

.Survival_Games {
    background-image: url(survival_games.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 1%;
    background-attachment: fixed
}

.Warfare_Games {
    background-image: url(warfare_games.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 1%;
    background-attachment: fixed
}

.Fantasy_Games {
    background-image: url(fantasy_games.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 1%;
    background-attachment: fixed
}

@media only screen and (max-width:831px) {
    .upperloadcont {
        margin-right: 10%;
    }

    .cover_offer {
        justify-content: space-between;
        margin-bottom: 10px
    }
    .vid_text {
        order: 2;
        min-width: 0;
        padding-bottom: 0px;
    }
    .storewrapper {
        height: 100vh;
    }
    .open-slide {
        display: none
    }
    iframe {
        height: 200px;
    }
    html,
    body {
        overflow-x: hidden;
        overflow-y: auto
    }
    .filt_cont {
        width: 100%
    }
    .filt_button {
        border-radius: 5px;
        margin: 7px;
        height: fit-content;
        padding: 10px
    }
    .feat_wrapper {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0%;
        padding-top: 0px;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        overflow-y: auto;
        display: inline-block;
    }
    .feat_text {
        font-size: 1em
    }
    .bg.intro {
        padding-bottom: 20%;
        height: 23%;
    }
    .storeitem.feat {
        order: 1;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        width: fit-content
    }
    .imgtitleprice.feat {
        width: 100px
    }
    .offer_buy {
        font-size: .85em;
        margin-bottom: 5%;
        min-width: 219px;
        max-width: fit-content;
        max-width: 220px
    }
    .offer_info {
        font-size: .85em;
        max-width: 70%
    }
    .feat_offer {
        order: 1;
        margin: 0%;
        margin-bottom: 3%;
        height: fit-content;
        max-height: 204px;
        overflow-y: auto;
        width: 100%;
        padding-left: 5%
    }
    .feat_text {
        order: 3;
        font-size: 1em;
        overflow-y: overlay;
        /* padding-top: 15px; */
        margin-top: 0px;
        width: auto;
        overflow-x: hidden;
        box-shadow: 0 0 0px 0px rgba(0,0,0,0.0);
    }
    .storewrapper {
        margin: 0
    }
    .genrecat {
        font-size: .7em
    }
    .mobilesitemessage2 {
        margin-top: 0%;
        padding-top: 1%;
        font-size: 1em;
    }

    .searchbar2 {
        width: 85%;
        padding: 12px;
        font-size: 0.9em;
        margin-top: 5%;
    }

    .search_cont {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 0.9em;
    }

    .search_matches {
        width: 83%;
        min-height: 140%;
    }

    .partner_img {
        width: 90px;
        height: 32px
    }
    .aff_message {
        font-size: .7em
    }
    .bg.partners {
        margin-bottom: 5%
    }
    .nextbutton {
        display: none
    }
    .storebar {
        height: 204px
    }
    .storeitem.feat {
        height: 204px;
        max-height: 205px;
        margin-bottom: 3%
    }
    .gametitle.feat {
        font-size: .7em;
        max-height: 60px;
        padding-top: 0
    }
    .gprice.rating {
        font-size: 1em;
        padding-top: 0;
        margin-top: 5px;
        padding-bottom: 0
    }
    .gameimage {
        height: 60%
    }
    .imgtitleprice {
        width: 99px
    }
    .gamesource {
        display: none
    }
    .gprice {
        font-size: .7em
    }
    .gametitle {
        font-size: .6em;
        max-height: 20px;
        padding-bottom: 0
    }
    .p.gametitle {
        padding-bottom: 0
    }
    .gplat {
        font-size: .4em;
        border-radius: 1px
    }
    nav {
        margin: 0;
        padding: 0;
        margin-bottom: 4%;
        flex-direction: column
    }
    .site_name {
        display: none
    }
    .searchbar {
        padding: 0;
        width: 100%;
        height: 30px;
        margin: 5px;
        padding-left: 10px
    }
    .showgenres {
        width: 100%;
        height: 30px;
        display: none
    }
    .genrename {
        font-size: .8em;
        border-radius: 6px
    }
}
