<!DOCTYPE html>
<html lang="en" dir="ltr">

    <style>
        .loader {
            border: 6px solid #f3f3f3; /* Light grey */
            border-top: 6px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            margin: 0 auto;
            animation: spin 0.4s linear infinite;
            
            }

            .preloader {
                transition: all 0.5s;
            }

            @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
            }
    </style>
        
    <div class="preloader" style="height: 100vh;
    width: 100vw;
    z-index: 10;">
        <div style="margin: 0 auto;
        width: 50%;
        position: relative;
        top: 40%;">
            <div class="loader"></div>
        </div>
    </div>

    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <title>Best Game Deals Website on the Internet - Everyday Deals</title>
        <meta name="description" content="We search multiple gaming sites everyday and aggregate game deals. Our gaming deals are updated everyday. Our aggregator guarantees the lowest priced games around.">
        <meta name="keywords" content="pc game deals, ps4 game deals, video game deal">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/newDesign.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
        <meta name="google-site-verification" content="1Omh3iGsOcu_I6deZ7okx9UH1G6q2kkIRqwOyYwyrH0" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-79371248-3"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-79371248-3');
        </script>
    </head>
    

    <body>

        <div class="mobileNavBar">
            <img  class="menuIcon" src="{{ url_for('static', filename='css/menuIcon.png') }}" alt="" data-bind="click: () => {view.sidebarToggle()}">
            <img  class="backIcon" src="{{ url_for('static', filename='css/backIcon.png') }}" alt="" data-bind="click: () => {view.modalOutClick('close')}">
            <h2 class="logo mobileLogo" data-bind="text: view.selectedPlatform"></h2>
        </div>

        <div class="wrapper">
                <div class="modal" data-bind="click: view.modalOutClick(event)">
                        <div class="modalGame">
                            <div class="modalOffers" data-bind="foreach: view.modalInfo().offers">
                                <div class="modalOffer">
                                    <div class="offerLeft">
                                        <p data-bind="text: offer_title"></p>
                                        <span class="offerDetails">
                                            <span class="offerSourceName" data-bind="text: source"></span>
                                            <img class="offerPlatformImg" src="" data-bind="attr: {'src': '/static/css/' + plat + '.png'}" alt="">
                                        </span>
                                    </div>
                                    <div class="offerRight">
                                        <a href="" data-bind="text: 'Buy for ' + price, attr: {'href': link}" class="offerLink">Buy for $7.99</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            <div class="sidebarWrapper">
                <div class="sidebar">
                    <h2 class="logo">GameScout</h2>
                        <input class="searchBar" placeholder="Search for a game..." type="text" data-bind="textInput: view.userSearch">
        
                        <ul class="navList">
                            <li class="navOptions" data-bind="style: view.navState().platform, click: () => { view.selectNavOption('platform') }">
                                <span>Platform</span>
                                <span data-bind="text: view.selectedPlatform" style="height: 24px;"></span>
                            </li>

                            <span data-bind="visible: view.menuState().platform">
                                <span class="navOptions" data-bind="click: () => { view.platformMenuOption('PC') }, style: view.platformMenuState().PC">
                                    <span>PC</span>
                                    <span><img class="navImage" src="/static/css/PC.png" alt=""></span>
                                </span>

                                <span class="navOptions" data-bind="click: () => { view.platformMenuOption('PS4') }, style: view.platformMenuState().PS4">
                                    <span>PS4</span>
                                    <span><img class="navImage" src="/static/css/PS4.png" alt=""></span>
                                </span>
                                <span class="navOptions" data-bind="click: () => { view.platformMenuOption('XBOX') }, style: view.platformMenuState().XBOX">
                                    <span>XBOX</span>
                                    <span><img class="navImage" src="/static/css/XBOX.png" alt=""></span>
                                </span>
                                <span class="navOptions" data-bind="click: () => { view.platformMenuOption('NINTENDO') }, style: view.platformMenuState().NINTENDO">
                                    <span>Nintendo</span>
                                    <span><img class="navImage" src="/static/css/NINTENDO.png" alt=""></span>
                                </span>

                                <hr class="platformLine">
                            </span>

                            <li class="navOptions navPrice" data-bind="style: view.navState().price, click: () => { view.selectNavOption('price') }">
                                <span>Price</span>
                                <span><img class="navImage" src="/static/css/dollar.png" alt=""></span>
                            </li>

                            <span class="priceMenu" data-bind="visible: view.menuState().price">
                                <p class="priceText">Less Than $</p> <input maxlength="2" class="priceInput" type="text" data-bind="textInput: view.userPrice">
                            </span>

                            <li class="navOptions navGenre" data-bind="style: view.navState().genre, click: () => { view.selectNavOption('genre') }">
                                <span>Genre</span>
                                <span><img class="navImage" src="/static/css/genre.png" alt=""></span>
                            </li>

                            <span class="genreList" data-bind="visible: view.menuState().genre, foreach: view.gameGenres">
                                <p class="genreName" data-bind="text: name, click: () => { view.genreMenuOption( name ) }, style: view.genreMenuState()[ name ]"></p>
                            </span>

                        </ul>
                </div>
            </div>
            <div class="mainDisplay">
                <div class="gamesWrapper" data-bind="foreach: view.displayGames">
                    <div class="gameBox" data-bind="click: () => { view.modalOpen(title)}" >
                        <img class="lazyload gameCover" data-src="" data-bind="attr: {'data-src': 'https://gamescout.io/' + image}" src="" alt="">
                            <div class="gameInfo">
                                <p class="gameTitle" data-bind="text: title"></p>
                                <span class="platPrice">
                                    <img class="platformImage" src="" data-bind="attr: {'src': '/static/css/' + plat + '.png'}" alt="">
                                    <p class="price" data-bind="text: price"></p>
                                </span>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </body>

    <script type='text/javascript' src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/knockout-3.4.2.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/newApp.js') }}"></script>
    <script>
    window.onload = function(){
        setTimeout(() => {
            // removes preloader
        document.getElementsByClassName('preloader')[0].style.opacity = "0";

            setTimeout(() => {
                document.getElementsByClassName('preloader')[0].style.display = "none";
            },200)
        },300);
    };
    </script>
</html>